.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.Bin-logo {
  height: 6vmin;
  margin-top: -1vmin;
}

.Form {
  display: grid;
  align-content: center;
  padding: 4vmin;
}

#name, #expiry, #submit {
  width: auto;
  margin: 2vmin auto;
  height: 5vmin;
  text-align: center;
}

.ItemList {
  display: flex;
}

.Button {
  position: absolute;
  right: 10px;
  border: none;
  background: white;
}

h1 {
  font-family: Harriet;
  color: rgb(13, 155, 173);
}